body{
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
}

h1{
    text-align: center;
    color: white;

}

@media (min-width:576px){

    body{
        background-color: aquamarine;
    }
    h1{
        color: brown;
    }
}

@media (min-width:992px){
    body{
        background-color: burlywood;
    }
    img{
        width: 49%;
    }
    h1{
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 30px;
        box-shadow: 0 0 15px 0 #ccc;
    }
}

@media (min-width: 1200px){
    body{
        background-color: coral;
    }
    h1{
        font-size: 48px;
    }
}